body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

code {
  white-space: pre;
}

.colorpick {
  $shadow: 6px;
  $br: 4px;

  border: 0;
  padding: 0;
  margin: 5px;
  vertical-align: top;
  background-color: transparent;
  width: 25px;
  height: 25px;
  box-shadow: 0px 0px $shadow #333;
  border-radius: $br;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: 0;
    border-radius: $br;
  }

  &:focus::-webkit-color-swatch {
    box-shadow: inset 0 0 0 0.6px #0008;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 ($shadow * 1.75) #111;
  }
}

.pix {
  display: 'inline-block';
  width: '25px';
  height: '25px';
  margin: '5px';
}
