<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Starbound Player Editor</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'
    data:<%= webpackConfig.mode !== 'production' ? " 'unsafe-eval'" : '' %>" />
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
